 <div class="registration-form"  > 
       
      <div class="signup">
      <p>Create your account</p>
      </div>
 <form ngNativeValidate #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm.value)"  id="validation" class="sign-up-form">
     <div class="name">
      <input type="text"  class="form-control" placeholder="First Name" name="name" required  ngModel #formName="ngModel" pattern="^([a-zA-Z]{3,})">
      <div *ngIf="formName.touched &&formName.errors?.required" class="alert alert-danger">
      Please enter your name.
      </div>
      <div *ngIf="formName.errors?.pattern" class="alert alert-danger">
      Name should be minimum 3 characters.
      </div>
    </div>
       
   <div class="email" >
     <input type="email"  class="form-control"  placeholder="Email" name="email" required ngModel #formEmail="ngModel" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" />
<div *ngIf="formEmail.touched &&formEmail.errors?.required" class="alert alert-danger">
           Email is required
         </div>
         <div *ngIf="formEmail.errors?.pattern" class="alert alert-danger">
           Enter valid email id.
         </div>
    </div>
    <div class="password"> 
       <input type="password"  class="form-control"  placeholder="Password" name="password" required ngModel #formPassword="ngModel" pattern="^([a-zA-Z0-9]{6,})">
       <div *ngIf="formPassword.touched &&formPassword.errors?.required" class="alert alert-danger">
       Please create a password.
       </div>
       <div *ngIf="formPassword.errors?.pattern" class="alert alert-danger">
       Password should be at least 6 characters.
       </div>
    </div>      
    <div  class="submit">
<input type="submit" value="Submit" required ngModel  />
         </div>
</form> 
 <div class="signin">
 <p > Already have an account? <a routerLink="/">Sign In</a></p>
  </div>
