*{
	padding: 0px;
	margin: 0px;
}
header{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: black;
	font-size: 36px;
	color: white;
}
a{
	color: white;
	font-size: 22px;
	text-decoration: none;
}
.registration-form{

	padding-top: 130px;
	padding-bottom: 177px;
	background: linear-gradient(#094297, #169b4f,#094297);
	
	color: white;
	font-size: 18px;
}

form{
	border-radius: 10px;
	margin-left: 37%;
	margin-right:37%;
	background-color:black;

}

.name{
		padding-top: 20px;
	padding-left:20px;
	padding-right:20px;
}
.email{

	padding: 15px 20px;

}

.password{
		padding-top: 3px;
	padding-right:20px;
	padding-left:20px;
}

.input-lg{
	border-radius:10px;
	height: 30px;
}
.col-xs{
	width: 100%;
}
.input-group-lg{
	padding-left: 15px;
	font-size: 18px;

}
input{
	padding-left: 5px;
}
.submit{
	padding-bottom:20px;
	padding-top:20px;
	padding-left: 33%;
}

.submit-button{
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: rgb(25, 105, 155);
	font-size: 18px;
}
.submit-button:hover{
	background-color: #2d9d08;
}
.signin{
	padding-top: 10px;
	text-align: center;
}

.alert{
	color: #ed0c07 !important;
	padding-left: 5px !important;
	margin-right:-4px !important;
	  
}
footer{
	text-align: center;
	font-size: 26px;
	background-color: black;
	color:white;
}




/*---------media queries--------------*/
@media (min-width: 1200px)
{
form{
margin-left: 37%;
	margin-right:37%;
}
}

@media screen and (min-width: 992px) and (max-width: 1199px)
{
form{
margin-left: 30%;
	margin-right:30%;
}

}

@media screen and (min-width: 768px) and (max-width: 991px)
{
form{
margin-left: 25%;
	margin-right:25%;
}


}

@media screen and (min-width: 576px) and (max-width: 767px)
{
form{
margin-left: 20%;
	margin-right:20%;
}
}

@media (max-width: 575px)
{
form{
	margin-left: 15%;
	margin-right:15%;
}
}
/*---------end media query-------*/ 
