<body>
<header>
<div class="login">
Login your account
</div>
</header>
<div class="signin">
<form ngNativeValidate #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)" class="sign-in-form">
<div class="email">
<input type="email" class="input-lg col-xs input-group-lg" name="email" placeholder="Enter email" ngModel required  [(ngModel)]="loginForm.email" #formEmail="ngModel" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" />
<div *ngIf="formEmail.touched &&formEmail.errors?.required" class="alert alert-danger">
           Email is required
         </div>
         <div *ngIf="formEmail.errors?.pattern" class="alert alert-danger">
           Enter valid email id.
         </div>
</div>
<div class="password">
<input type="password" class="input-lg col-xs input-group-lg" name="password" placeholder="Password" [(ngModel)]="loginForm.password" #formPassword="ngModel" required />
<div *ngIf="formPassword.touched &&formPassword.errors?.required" class="alert alert-danger">
           Password is required
</div>
</div>
<div class="submit">
<input class="submit-button" type="submit" value="Submit" ngModel required />
</div>
</form>
<div class="forget">
<p><a href="#">Forget Password</a></p>
</div>
<div class="signup">
<P>Already have account? <a routerLink='/registration'>Sign Up</a></P>
</div>
</div>
<footer>
	© All copyrights are reserved.
</footer>
<router-outlet></router-outlet>
</body>