<div class="signin">
<div class="login"><h1>Login your account</h1>
</div>
<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)" class="sign-in-form">
<div class="email">
<input type="email" name="email" placeholder="Enter email" ngModel required />
</div>
<div class="password">
<input type="password" name="password" placeholder="Password" ngModel required />
</div>
<div class="submit">
<input type="submit" value="Submit" ngModel required />
</div>
<div class="forget">
<p><a href="#">Forget Password</a></p>
</div>
<div class="signup">
<P>Already hava account? <a routerLink='/registration'>Sign Up</a></P>
</div>
</form>
</div>
<router-outlet></router-outlet>