<header>
<div class="header">
 Welcome to Dashboard <span class="head"> <a  routerLink="/login"><button>Log Out</button></a></span>
</div>
</header>
<div class="dashboard">
<form ngNativeValidate class="dashboard-form"  #dashboard="ngForm" >
  <div class="form-group">
   <input type="text"  class="form-control" id="name" placeholder="Task Name" name="taskname" ngModel required [value]="taskname" #formTask="ngModel">
   <div *ngIf="formTask.touched &&formTask.errors?.required" class="alert alert-danger">
   Please enter task name.
   </div>
  </div>
  <div class="form-group" >
   <input type="date"  class="form-control" id="date" placeholder="Date" name="date" ngModel required [value]="date" #formDate="ngModel">
   <div *ngIf="formDate.touched &&formDate.errors?.required" class="alert alert-danger">
   Please enter the date.
   </div>
  </div>      
   <div>
  <input type="text"  class="form-control" id="description" placeholder="Description" name="description" required ngModel [value]="description" #formDescription="ngModel">
  <div *ngIf="formDescription.touched &&formDescription.errors?.required" class="alert alert-danger">
  Please enter description.
  </div>
  </div>
  <div>
  <input type="hidden"  class="form-control" id="description" placeholder="Description" name="taskUpdate" ngModel [value]="updateval">
  </div>
  <div class="button-flow">
  <button class="button"  type='submit' (click)="onSubmit(dashboard.value)" >Add Todo</button>         
  <button class="button" type="submit"  *ngIf="update" (click)="updateItem(dashboard.value)" [disabled]="dashboard.pristine" >Update</button>
  </div>         
  </form>

<div class="table">
<table>
<tr>
 <th>Task Name</th>
 <th>Description</th>
 <th>Date</th>
 <th>Edit</th>
 <th>Delete</th>
</tr>
<tbody *ngFor= "let x of this.match">
<tr>
<td>{{x.taskname}}</td>
<td>{{x.description}}</td>
<td>{{x.date}}</td>
<td><button (click)="edit(x.taskname)">Edit</button></td>
<td><button (click)="delete(x.taskname)">Delete</button></td>
</tr>
</tbody>
</table>
</div>
</div>


<footer>
© All copyrights are reserved.
</footer>